* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

header {
    margin: 47px auto 150px 42px;
}


h1 {
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    color: #161A49;
    width: 582px;
    margin-bottom: 47px;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    color: #4B505A;
    margin-top: 47px;
    margin-bottom: 55px;
    width: 493px;
}

section {
    margin: 90px 57px 0 84.82px;
}

.main-content {
    flex-direction:row-reverse;
    display: flex;
    margin-left: 121px;
    width: fit-content;
    margin-top: 124px;
}

.link-header {
    font-size: 14px;
    font-weight: 400;
    margin-right: 32px;
    cursor: pointer;
    line-height: 28px;
    color: #17233D;
}

.img-main {
    width: 595.18px;
    height: 500px;
    margin-left: 10px; 
    box-sizing: border-box;
}

.button-header {
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    width: 124px;
    height: 51px;
    border: solid 1px; 
    border-radius: 20.5px;
    color: #FFFFFF;
    background: #4CB538;
}

.link-section {
    font-size: 18px;
    font-weight: 500;
    color: #6FBF44;
    cursor: pointer;
}

